<div class='header'>
  <div class='left'>
    <div class="toggle-nav">
      <a href="#" class="subnav-link toggle-navigation">
        <i class="ion-navicon" title="show/hide the navigation"></i>
      </a>
    </div>
    <a href="/">
      <img src="/assets/images/aker-logo.svg" id="logo">
    </a>
  </div>
  <div class='right'>
    <div class="sections">
      <a class="nav {{#contains path.href 'assembly-manuals'}}active{{/contains}}" href="/assembly-manuals/topics/assembly-manuals">Assembly Manuals</a>
      <a class="nav {{#contains path.href 'user-manuals'}}active{{/contains}}" href="/user-manuals/wormhaus-vermicomposter">User Manuals</a>
      <a class="nav {{#contains path.href 'tutorials'}}active{{/contains}}" href="/tutorials/topics/growsquare">Design Tutorials</a>
      <a class="nav {{#contains path.href 'open-business-model'}}active{{/contains}}" href="/open-business-model/topics/open-business-model">Open Business Model</a>
    </div>
    <div class="dropdown mobile-only">
      <a id="dLabel" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {{first-word-in-relative-url path.href}}
        <i class="ion-arrow-down-b"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="/assembly-manuals/topics/assembly-manuals">Assembly Manuals</a></li>
        <li><a href="/user-manuals/wormhaus-vermicomposter">User Manuals</a></li>
        <li><a href="/tutorials/topics/growsquare">Design Tutorials</a></li>
        <li><a href="/open-business-model/topics/open-business-model">Open Business Model</a>
      </ul>
    </div>
    <a href='https://github.com/akerkits/docs' class="edit" target="_blank"><i class="ion-edit"></i>Edit</a>
  </div>
</div>
