<!doctype html>
<html>
<head>
  <!-- REDIRECT SCRIPT -->
  {{{contents}}}
  {{> head sectionTitle='Start'}}
</head>
<body>

  <div id="docs">
    <div class='header'>
      <div class='left'>
        <a href="https://www.akerkits.comm">
          <img src="/assets/images/aker-logo.png" id="logo">
        </a>
      </div>
    </div>

    <div class='getting-started'>
      <h1 class="choose-device-header">Welcome to the Aker Docs</h1>
      <p>We are testing</p>

      <div class="devices">
        <a href="/reference/growsquare" class="device" id="photon">
          <h3>Check out the GrowSquare ></h3>
        </a>
      </div>
    </div>
  </div>
  {{> scripts}}
</body>
</html>
