<!doctype html>
<html>
<head>
  <!-- REDIRECT SCRIPT -->
  {{{contents}}}
  {{> head sectionTitle='Start'}}
</head>
<body>

  <div id="docs">
    {{> header}}

    <div class='getting-started'>
      <h1 class="choose-device-header">Welcome to the Aker Docs</h1>
      <p>We are testing</p>

      <div class="devices">
        <a href="/tutorials/topics/growsquare" class="device">
          <h3>Check out the GrowSquare Tutorial</h3>
        </a>
      </div>
    </div>
  </div>
  {{> scripts}}
</body>
</html>
